html,
body {
  background-color: #161616;
  color: #a6a6a6;
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  font-family: Menlo, Consolas, Monaco, "Liberation Mono", "Lucida Console",
    monospace;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding-left: 10%;
  padding-right: 10%;
  box-sizing: border-box;
  min-height: 100vh;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

.green {
  color: #27ae60;
}

.white {
  color: #ffffff;
}

.selected {
  color: #cfcfcf;
}

.clickable {
  cursor: pointer;
}

a {
  color: #ffffff;
}

svg {
  height: 15rem;
}
